<div class="tab-pane active fade show" id="allPlaylists">
  <div class="row">
    <div class="col-md-2">
      <ul class="peoples">
        <li>
          <figure>
            <img src="assets/images/resources/friend-avatar2.jpg" alt="" />
          </figure>
          <div class="people-name">
            <span>Acoustic OPM</span>
          </div>
        </li>
        <li>
          <figure>
            <img src="assets/images/resources/friend-avatar3.jpg" alt="" />
          </figure>
          <div class="people-name">
            <span>Lo-Fi Beats</span>
          </div>
        </li>

        <li>
          <figure>
            <img src="assets/images/resources/friend-avatar2.jpg" alt="" />
          </figure>
          <div class="people-name">
            <span>Indie Pop</span>
          </div>
        </li>

        <li>
          <figure>
            <img src="assets/images/resources/friend-avatar3.jpg" alt="" />
          </figure>
          <div class="people-name">
            <span>Slow Rock</span>
          </div>
        </li>
      </ul>
    </div>


      <%- include("./song-card") %>
      <%- include("./song-card") %>
    </div>
  </div>
</div>
