<ul>
  <li>
    <div class="comet-avatar">
      <img src="assets/images/resources/comet-2.jpg" alt="" />
    </div>
    <div class="we-comment">
      <div class="coment-head">
        <h5><a href="time-line.html" title="">alexendra dadrio</a></h5>
        <span>1 month ago</span>
        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
      </div>
      <p>
        yes, really very awesome car i see the features of this car in the official website of
        <a href="#" title="">#Mercedes-Benz</a> and really impressed :-)
      </p>
    </div>
  </li>
  <li>
    <div class="comet-avatar">
      <img src="assets/images/resources/comet-3.jpg" alt="" />
    </div>
    <div class="we-comment">
      <div class="coment-head">
        <h5><a href="time-line.html" title="">Olivia</a></h5>
        <span>16 days ago</span>
        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
      </div>
      <p>i like lexus cars, lexus cars are most beautiful with the awesome features, but this car is really outstanding than lexus</p>
    </div>
  </li>
</ul>
