<div class="tab-pane fade" id="followedPlaylists">
  <ul class="peoples">
    <li>
      <figure>
        <img src="assets/images/resources/friend-avatar2.jpg" alt="" />
      </figure>
      <div class="people-name">
        <span>Slow Rock</span>
      </div>
    </li>

    <li>
      <figure>
        <img src="assets/images/resources/friend-avatar3.jpg" alt="" />
      </figure>
      <div class="people-name">
        <span>Lo-Fi Beats</span>
      </div>
    </li>
  </ul>
</div>
