<div class="central-meta">
  <div class="groups">
    <span><i class="fa fa-users"></i> People who follow you</span>
  </div>
  <ul class="nearby-contct">
    <li>
      <div class="nearly-pepls">
        <figure>
          <a href="time-line.html" title=""><img src="assets/images/resources/group1.jpg" alt="" /></a>
        </figure>
        <div class="pepl-info">
          <h4><a href="time-line.html" title="">funparty</a></h4>
          <a href="#" title="" class="add-butn" data-ripple="">Follow</a>
        </div>
      </div>
    </li>
    <li>
      <div class="nearly-pepls">
        <figure>
          <a href="time-line.html" title=""><img src="assets/images/resources/group2.jpg" alt="" /></a>
        </figure>
        <div class="pepl-info">
          <h4><a href="time-line.html" title="">ABC News</a></h4>
          <a href="#" title="" class="add-butn" data-ripple="">Unfollow</a>
        </div>
      </div>
    </li>
  </ul>
</div>
