<div class="tab-pane fade" id="myPlaylists">
  <ul class="peoples">
    <li>
      <figure>
        <img src="assets/images/resources/friend-avatar2.jpg" alt="" />
      </figure>
      <div class="people-name">
        <span>Acoustic OPM</span>
      </div>
    </li>

    <li>
      <figure>
        <img src="assets/images/resources/friend-avatar3.jpg" alt="" />
      </figure>
      <div class="people-name">
        <span>Indie Pop</span>
      </div>
    </li>
  </ul>
</div>
