<li>
  <div class="comet-avatar">
    <img src="assets/images/resources/comet-1.jpg" alt="" />
  </div>
  <div class="we-comment">
    <div class="coment-head">
      <h5><a href="time-line.html" title="">Jason borne</a></h5>
      <span>1 year ago</span>
      <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
    </div>
    <p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
  </div>
  <!-- This is where the reply should be -->
  <%- include("./comment-reply") %>
</li>
