<script>
    //GET SEARCH RESULTS
        // $('#search-form').on('submit', function (event) {
        //     event.preventDefault();
        //     event.stopImmediatePropagation();
        //     var searchName = $("#search-input");
            
        //     $.ajax({
        //         url: '/load-search',
        //         method: 'POST',
        //         contentType: 'application/json',
        //         data: JSON.stringify({searchName: searchName.val() }),
        //         success: function (response) {
        //             var searchList = $('#search-list');
        //             searchList.html("")
        //             var body = $('#body');
        //             var n =0;
        //             window.location.href = ("/search");
        //             console.log(response)
        //              Object.keys(response.user).forEach(function (user) {
        //                 console.log(response.user[n].username)
        //                 searchList.append('<li>\
        //                     <div class= "nearly-pepls">\
        //                           <figure>\
        //                             <a href="time-line.html" title=""><img src="assets/images/resources/nearly5.jpg" alt="" /></a>\
        //                           </figure>\
        //                           <div class="pepl-info">\
        //                             <h4><a href="time-line.html" title="">' + response.user[n].username + '</a></h4>\
        //                           </div>\
        //                         </div>\
        //                       </li>' )
        //             })
        //         }
        //     })
        // })

        //
</script>