<!-- Full Page Intro -->
<div class="view">
  <!-- Mask & flexbox options-->
  <!-- Content -->
  <div class="col-md-10">
    <h5 style="margin-top: 20px">Acoustic OPM</h5>
    <div id="mobile-box">
      <!-- Card -->
      <div class="card text-center" style="width: 200px; height: 275px; background: #f4f2f2; margin-top: 20px; border: 1px solid #e1e8ed">
        <!-- Card image -->
        <div class="view" style="height: 45%">
          <img
            class="card-img-top"
            src="https://mdbootstrap.com/wp-content/uploads/2019/02/flam.jpg"
            alt="Card image cap"
            style="max-width: 100px; width: 100px; border-radius: 100px; height: 100px; max-height: 100px; margin-top: 20px"
          />
          <a href="https://bachataurban.com/" target="_blank"> </a>
        </div>

        <!-- Card content -->
        <div class="card-body text-center" style="width: 200; height: 275">
          <h5 class="h5 font-weight-bold">
            <a href="https://bachataurban.com/" target="_blank">Bachata</a>
          </h5>
          <p class="mb-0">DJ Flam</p>

          <audio id="music" preload="true">
            <source src="https://bachataurban.com/download/2/Stefflon%20Don%20-%2016%20Shots%20(%20DJ%20Flam%20-%20Urban%20Bachata%20remix%20).mp3" />
          </audio>
          <div id="audioplayer" style="margin-top: 10px">
            <i id="pButton" class="ti-control-play"></i>
            <div id="timeline" class="timeline-playlist">
              <div id="playhead"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
  <!-- Content -->
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
