<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>MusiConnect</title>
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/ringtone-music-instruments/512/letter-m-key-keyboard-3-512.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="assets/css/main.min.css">
    <link rel="stylesheet" href="assets/css/strip.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/color.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
    <section>
		<div class="gap2 color-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="top-banner">
							<h1>ABOUT</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row" id="page-contents">
						<div class="col-lg-3">
							<aside class="sidebar static">
								<div class="widget">
									<h4 class="widget-title">Websites</h4>
									<ul class="socials">
										<li class="facebook">
											<a title="" href="#"><i class="Mongo"></i> <span>MongoDB</span> <ins></ins></a>
										</li>
										<li class="twitter">
											<a title="" href="#"><i class="Node"></i> <span>NodeJS</span><ins></ins></a>
										</li>
										<li class="google">
											<a title="" href="#"><i class="Pass"></i> <span>Passport</span><ins></ins></a>
										</li>
									</ul>
								</div>
							</aside>	
						</div>
						<div class="col-lg-9">
							<div class="faq-area">
								<h2>About</h2>
								<div class="accordion" id="accordion">
								  <div class="card">
                                    <div class="abthead" style="font-size: 30px; margin-left: 20px; margin-top: 20px;">Packages and Libraries Used</div>

									<div id="collapsedOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
									  <div class="card-body">
										The NPM packages and 3rd party libraries used in the project.
										<ol>
											<li>bcrypt</li>
											<li>body-parser</li>
                                            <li>cookie-parser</li>
                                            <li>ejs</li>
                                            <li>express</li>
                                            <li>express-flash</li>
                                            <li>express-session</li>
                                            <li>fs</li>
                                            <li>mongodb</li>
                                            <li>mongoose</li>
                                            <li>multer</li>
                                            <li>passport</li>
                                            <li>passport-local</li>
										</ol>
									  </div>
									</div>
								  </div>
								  	
	
	<script src="assets/js/main.min.js"></script>
	<script src="assets/js/strip.pkgd.min.js"></script>
	<script src="assets/js/script.js"></script>

</body>	

</html>